In [1]:
import pandas as pd

In [4]:
df=pd.read_csv('diabetes.csv')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [6]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [11]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [15]:
df.Outcome.value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [16]:
268/500

0.536

In [17]:
x=df.drop('Outcome',axis='columns')
x.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [19]:
y=df.Outcome
y.head()

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

In [20]:
from sklearn.preprocessing import StandardScaler as ss

In [23]:
scaler=ss()

In [24]:
x_scaled=scaler.fit_transform(x)

In [26]:
x_scaled[:3]

array([[ 0.63994726,  0.84832379,  0.14964075,  0.90726993, -0.69289057,
         0.20401277,  0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575,  0.53090156, -0.69289057,
        -0.68442195, -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, -1.28821221, -0.69289057,
        -1.10325546,  0.60439732, -0.10558415]])

In [27]:

from sklearn.model_selection import train_test_split as tts

In [47]:
x_train,x_test,y_train,y_test=tts(x_scaled,y,stratify=y,random_state=20)

In [48]:
x_train.shape

(576, 8)

In [49]:
x_test.shape

(192, 8)

In [50]:
y_train.value_counts()

0    375
1    201
Name: Outcome, dtype: int64

In [51]:
201/375

0.536

In [52]:
from sklearn.tree import DecisionTreeClassifier as dts

In [53]:
from sklearn.model_selection import cross_val_score as cvs

In [54]:
m1=dts.fit(x_train,y_train)

TypeError: fit() missing 1 required positional argument: 'y'

In [56]:
scores=cvs(dts(),x_test,y_test,cv=5)
scores.mean()

0.702834008097166

In [57]:
scores2=cvs(dts(),x,y,cv=5)
scores2.mean()

0.7084797555385791

In [61]:
from sklearn.ensemble  import BaggingClassifier as bc

In [63]:
bag_model=bc(base_estimator=dts(),n_estimators=100,max_samples=0.8,random_state=6,oob_score=True)

In [64]:
bag_model.fit(x_train,y_train)

BaggingClassifier(base_estimator=DecisionTreeClassifier(), max_samples=0.8,
                  n_estimators=100, oob_score=True, random_state=6)

In [65]:
bag_model.score(x_test,y_test)

0.78125